{% extends 'chatapp/base.html' %}
{% load static %}

{% block title %}Chat with {{ friend.profile.user.username }}{% endblock %}

{% block content %}
<div class="chat-container">
    <div class="messages">
        {% for message in messages %}
        <div class="message-item {% if message.sender == user %}sent{% else %}received{% endif %}">
            <div class="message-info">
                <p class="message-sender">{{ message.sender.username }}</p>
                <p class="message-content">{{ message.content }}</p>
                <span class="created_at">{{ message.created_at }}</span>
            </div>
        </div>
        {% endfor %}
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="send-button" type="submit">Send</button>
    </form>
</div>
{% endblock %}
