{% extends 'chatapp/base.html' %}
{% load static %}

{% block title %}Messages{% endblock %}

{% block content %}
<div class="friends-container">
    {% for friend in friends %}
    <div class="friend">
        <a href="{% url 'chatapp:chat_view' friend.profile.id %}">
            <div class="message-info">
                <img src="{{ friend.profile.profile_picture.url }}" alt="{{ friend.profile.user.username }}'s Profile" class="friend-pic">
                <h2>{{ friend.profile.user.username }}</h2>
                <p>{{ friend.profile.status }}</p>
            </div>
        </a>
        <span class="notification-badge">{{ friend.new_messages_count }}</span>
    </div>
    {% endfor %}
</div>
{% endblock %}
